.paragraph {
  color: #2b2b2b;
  font-size: 90px;
}
/* 
.loader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .panWrapper {
    width: 200px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
  }
  
  .pan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-animation: cooking 1.7s infinite;
    animation: cooking 1.7s infinite;
  }
  @-webkit-keyframes cooking {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transform-origin: top right;
      transform-origin: top right;
    }
    10% {
      -webkit-transform: rotate(-4deg);
      transform: rotate(-4deg);
      -webkit-transform-origin: top right;
      transform-origin: top right;
    }
    50% {
      -webkit-transform: rotate(20deg);
      transform: rotate(20deg);
    }
    100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
  @keyframes cooking {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transform-origin: top right;
      transform-origin: top right;
    }
    10% {
      -webkit-transform: rotate(-4deg);
      transform: rotate(-4deg);
      -webkit-transform-origin: top right;
      transform-origin: top right;
    }
    50% {
      -webkit-transform: rotate(20deg);
      transform: rotate(20deg);
    }
    100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
  
  .food {
    position: absolute;
    width: 40%;
    height: 6px;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgb(82, 33, 33)),
      to(rgb(200, 106, 106))
    );
    background: linear-gradient(to bottom, rgb(82, 33, 33), rgb(200, 106, 106));
    left: 10px;
    border-radius: 50%;
    -webkit-animation: flip 1.7s infinite;
    animation: flip 1.7s infinite;
    z-index: 2;
  }
  @-webkit-keyframes flip {
    0% {
      -webkit-transform: translateY(0px) rotate(0deg);
      transform: translateY(0px) rotate(0deg);
    }
    50% {
      -webkit-transform: translateY(-100px) rotate(180deg);
      transform: translateY(-100px) rotate(180deg);
    }
    100% {
      -webkit-transform: translateY(0px) rotate(360deg);
      transform: translateY(0px) rotate(360deg);
    }
  }
  @keyframes flip {
    0% {
      -webkit-transform: translateY(0px) rotate(0deg);
      transform: translateY(0px) rotate(0deg);
    }
    50% {
      -webkit-transform: translateY(-100px) rotate(180deg);
      transform: translateY(-100px) rotate(180deg);
    }
    100% {
      -webkit-transform: translateY(0px) rotate(360deg);
      transform: translateY(0px) rotate(360deg);
    }
  }
  .panBase {
    z-index: 3;
    width: 50%;
    height: 22px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgb(3, 156, 156)),
      to(rgb(10, 191, 191))
    );
    background: linear-gradient(to top, rgb(3, 156, 156), rgb(10, 191, 191));
  }
  .panHandle {
    width: 40%;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgb(18, 18, 18)),
      to(rgb(74, 74, 74))
    );
    background: linear-gradient(to bottom, rgb(18, 18, 18), rgb(74, 74, 74));
    height: 10px;
    border-radius: 10px;
  }
  .panShadow {
    width: 70px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0.21);
    margin-left: 15px;
    border-radius: 10px;
    -webkit-animation: shadow 1.7s infinite;
    animation: shadow 1.7s infinite;
    -webkit-filter: blur(5px);
    filter: blur(5px);
  }
  @-webkit-keyframes shadow {
    0% {
      -webkit-transform: scaleX(0.7);
      transform: scaleX(0.7);
    }
    50% {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
    100% {
      -webkit-transform: scaleX(0.7);
      transform: scaleX(0.7);
    }
  }
  @keyframes shadow {
    0% {
      -webkit-transform: scaleX(0.7);
      transform: scaleX(0.7);
    }
    50% {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
    100% {
      -webkit-transform: scaleX(0.7);
      transform: scaleX(0.7);
    }
  }
   */
